@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Caveat&family=Lato&family=PT+Sans&family=Quicksand:wght@400;700&family=Righteous&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Caveat&family=Lato&family=Nosifer&family=PT+Sans&family=Quicksand:wght@400;700&family=Righteous&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/*Partie header*/
/*header*/

header {
    width: 100%;
    height: 150px;
    background-color: #096D93;
}

header img {
    width: 120px;
    height: 100px;
    margin-left: 20px;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: -80px;
    font-family: "Nosifer", cursive, bold;
}

/*nav*/

nav {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color:#0e4259;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li p {
    display: none;
}

li img {
    width: 35px;
    height: 35px;
    filter: invert(100%);
    margin: 0;
}

li:hover {
    background-color:rgba(79, 163, 182, 0.5);
}

/*partie main*/

main {
    width: 100%;
    padding: 5vh 7.5% 5vh 7.5%;
    background-color: #4FA3B6;
}

.paralax {
    display: none;
    margin-bottom: 2rem;
    width: 100%;
    height: 30rem;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%) ;
    background-image: url("/IMG/paralax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*section et article*/

section {
    width: 100%;
}

section h2 {
    font-family: "Quicksand", sans-serif, bold;
    display: flex;
}

.jours_10 {
    display: none;
    margin: 0 6px;
}

.container_article_aside {
    display: flex;
    width: 100%;
}

section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vh;
    width: 65%;
}

.article {
    width: 49%;
    height: 180px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
}

.article:nth-child(n + 9) {
    display: none;
}

.icon {
    width: 70px;
    height: 70px;
}

.container_temp {
    display: flex;
    width: 25%;
}

.temp_max {
    color: red;
    margin-right:5px ;
}

.temp_max::after {
    content: "°";
    color: red;
    position: relative;
    top: 2px;
    left: 2px;
}

.temp_min {
    color: blue;
    margin-left:5px ;
}

.temp_min::after {
    content: "°";
    color: blue;
    position: relative;
    top: 2px;
    left: 2px;
}


/*aside*/

aside {
    width: 30%;
    height: 827px;
    background-color: #fff;
    float: right;
}

.nav_secondair {
    margin: 0;
    height: 100%;
    background-color: #fff;
    padding: 2rem;
}

.nav_secondair ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav_secondair ul li {
    width: 100%;
    justify-content: start;
}

.nav_secondair ul li i {
    margin-right: 15px;
    color:#096D93 ;
}

.nav_secondair ul li p {
    color: black;
}

/*tableau*/

.container_tab_img {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.container_tab_img img {
    width: 70%;
}

.container_tab {
    background-color: #fff;
    padding: 1rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container_tab h3 {
    margin-bottom: 20px;
    color: #096D93;
}

table {
    border-collapse: collapse;
}

td {
   border-top: 2px solid black;
   padding:0 15px; 
}

th[scope='ville'] {
    border-top: 2px solid black;
}

.max {
    color: red;
}

.min {
    color: blue;
}

/*les images et le formulair*/

.container_img_formulair {
    display: flex;
    margin-top: 10vh;
}

/*les 6 image*/

.container_img {
    width: 50%;
}

.container_img img {
    width: 48%;
}

/*le formulair*/

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
}

.button {
    background-color: #4FA3B6;
}

/*partie footer*/

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #096D93;
}

footer h2 {
    color: #fff;
    font-family: "Nosifer", cursive, bold;
}



@media screen and (min-width:1200px) {
    nav ul li p {
        display: block;
        color: #fff;
        margin-left: 15px;
    }

    .paralax {
        display: block;
    }

    .jours_10 {
        display: block;
    }
    
    .jours_8 {
        display: none;
    }
    

    .article {
        width: 18%;
    }

    .article:nth-child(n + 9) {
        display: block;
    }
    
}